## USed for merging the 15 attraction dataset containing waiting times

In [ ]:
import pandas as pd
import os
import re
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\parth\desktop\hfu_furtwangen\course documents\c_machine learning spyder repo\ml_presentation_workspace\.venv\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\parth\desktop\hfu_furtwangen\course documents\c_machine learning spyder repo\ml_presentation_workspace\.venv\lib\site-packages (from openpyxl) (2.0.0)

### Merge files on Attraction -> output: Each excel for each attraction with cols ('Datetime', 'WaitTime', 'Month', 'Year')
### 0Attraction open
### -1Virtual Queue
### -2Maintenance
###  -3Closed due to weather
### -4Attraction closed
### 91over 90 minutes

In [48]:


# Folder with the Excel files
folder_path = 'EU_Park/europark_raw_files/'

# Regex to extract attraction, month, and year from filename
pattern = r'^(.*?) - Queue times in (\w+) (\d{4})\.xlsx'

# Dictionary to hold data for each attraction
attraction_data = {}

# Loop through all files in the folder
for filename in os.listdir(folder_path):
    if filename.endswith('.xlsx'):
        match = re.match(pattern, filename)
        if match:
            attraction = match.group(1).strip()
            month = match.group(2)
            year = int(match.group(3))
            file_path = os.path.join(folder_path, filename)

            # Read the file
            df = pd.read_excel(file_path)

            # Add metadata
            df['Month'] = month
            df['Year'] = year

            # Rename columns for consistency
            df.columns = ['Datetime', 'WaitTime', 'Month', 'Year']

            # Add to the attraction's list
            if attraction not in attraction_data:
                attraction_data[attraction] = []
            attraction_data[attraction].append(df)

In [49]:
attraction_data

{'ARTHUR': [              Datetime  WaitTime  Month  Year
  0     2022-04-01 08:15      -4.0  April  2022
  1     2022-04-01 08:20      -4.0  April  2022
  2     2022-04-01 08:25      -4.0  April  2022
  3     2022-04-01 08:30      -4.0  April  2022
  4     2022-04-01 08:35      -4.0  April  2022
  ...                ...       ...    ...   ...
  3941  2022-04-30 18:55      10.0  April  2022
  3942  2022-04-30 19:00      10.0  April  2022
  3943  2022-04-30 19:05      -4.0  April  2022
  3944  2022-04-30 19:10      -4.0  April  2022
  3945  2022-04-30 19:15      -4.0  April  2022

  [3946 rows x 4 columns],
                 Datetime  WaitTime  Month  Year
  0      2023-04-01 08:15      -4.0  April  2023
  1      2023-04-01 08:16      -4.0  April  2023
  2      2023-04-01 08:17      -4.0  April  2023
  3      2023-04-01 08:18      -4.0  April  2023
  4      2023-04-01 08:19      -4.0  April  2023
  ...                 ...       ...    ...   ...
  19742  2023-04-30 20:11      -4.0  April  2023
  19743  2023-04-30 20:12      -4.0  April  2023
  19744  2023-04-30 20:13      -4.0  April  2023
  19745  2023-04-30 20:14      -4.0  April  2023
  19746  2023-04-30 20:15      -4.0  April  2023

  [19747 rows x 4 columns],
                 Datetime  WaitTime  Month  Year
  0      2024-04-01 08:15      -4.0  April  2024
  1      2024-04-01 08:16      -4.0  April  2024
  2      2024-04-01 08:17      -4.0  April  2024
  3      2024-04-01 08:18      -4.0  April  2024
  4      2024-04-01 08:19      -4.0  April  2024
  ...                 ...       ...    ...   ...
  19367  2024-04-30 19:41      -4.0  April  2024
  19368  2024-04-30 19:42      -4.0  April  2024
  19369  2024-04-30 19:43      -4.0  April  2024
  19370  2024-04-30 19:44      -4.0  April  2024
  19371  2024-04-30 19:45      -4.0  April  2024

  [19372 rows x 4 columns],
                 Datetime  WaitTime  Month  Year
  0      2025-04-01 08:15      -4.0  April  2025
  1      2025-04-01 08:16      -4.0  April  2025
  2      2025-04-01 08:17      -4.0  April  2025
  3      2025-04-01 08:18      -4.0  April  2025
  4      2025-04-01 08:19      -4.0  April  2025
  ...                 ...       ...    ...   ...
  20060  2025-04-30 19:11      -4.0  April  2025
  20061  2025-04-30 19:12      -4.0  April  2025
  20062  2025-04-30 19:13      -4.0  April  2025
  20063  2025-04-30 19:14      -4.0  April  2025
  20064  2025-04-30 19:15      -4.0  April  2025

  [20065 rows x 4 columns],
                 Datetime  WaitTime   Month  Year
  0      2022-08-01 08:15      -4.0  August  2022
  1      2022-08-01 08:16      -4.0  August  2022
  2      2022-08-01 08:17      -4.0  August  2022
  3      2022-08-01 08:18      -4.0  August  2022
  4      2022-08-01 08:19      -4.0  August  2022
  ...                 ...       ...     ...   ...
  21259  2022-08-31 19:11      -4.0  August  2022
  21260  2022-08-31 19:12      -4.0  August  2022
  21261  2022-08-31 19:13      -4.0  August  2022
  21262  2022-08-31 19:14      -4.0  August  2022
  21263  2022-08-31 19:15      -4.0  August  2022

  [21264 rows x 4 columns],
                 Datetime  WaitTime   Month  Year
  0      2023-08-01 08:15      -4.0  August  2023
  1      2023-08-01 08:16      -4.0  August  2023
  2      2023-08-01 08:17      -4.0  August  2023
  3      2023-08-01 08:18      -4.0  August  2023
  4      2023-08-01 08:19      -4.0  August  2023
  ...                 ...       ...     ...   ...
  21611  2023-08-31 19:41      -4.0  August  2023
  21612  2023-08-31 19:42      -4.0  August  2023
  21613  2023-08-31 19:43      -4.0  August  2023
  21614  2023-08-31 19:44      -4.0  August  2023
  21615  2023-08-31 19:45      -4.0  August  2023

  [21616 rows x 4 columns],
                 Datetime  WaitTime   Month  Year
  0      2024-08-01 08:15      -4.0  August  2024
  1      2024-08-01 08:16      -4.0  August  2024
  2      2024-08-01 08:17      -4.0  August  2024
  3      2024-08-01 08:18      -4.0  August  2024
  4      2024-08-01 08:19      -4.0  August  2024
  ...                 ...       ...     ...   ...
  22134  2024-08-31 20:11      -4.0  August  2024
  22135  2024-08-31 20:12      -4.0  August  2024
  22136  2024-08-31 20:13      -4.0  August  2024
  22137  2024-08-31 20:14      -4.0  August  2024
  22138  2024-08-31 20:15      -4.0  August  2024

  [22139 rows x 4 columns],
                 Datetime  WaitTime     Month  Year
  0      2022-12-01 09:45      -4.0  December  2022
  1      2022-12-01 09:46      -4.0  December  2022
  2      2022-12-01 09:47      -4.0  December  2022
  3      2022-12-01 09:48      -4.0  December  2022
  4      2022-12-01 09:49      -4.0  December  2022
  ...                 ...       ...       ...   ...
  17295  2022-12-31 19:11      -4.0  December  2022
  17296  2022-12-31 19:12      -4.0  December  2022
  17297  2022-12-31 19:13      -4.0  December  2022
  17298  2022-12-31 19:14      -4.0  December  2022
  17299  2022-12-31 19:15      -4.0  December  2022

  [17300 rows x 4 columns],
                 Datetime  WaitTime     Month  Year
  0      2023-12-01 09:45      -4.0  December  2023
  1      2023-12-01 09:46      -4.0  December  2023
  2      2023-12-01 09:47      -4.0  December  2023
  3      2023-12-01 09:48      -4.0  December  2023
  4      2023-12-01 09:49      -4.0  December  2023
  ...                 ...       ...       ...   ...
  17362  2023-12-31 19:11      -4.0  December  2023
  17363  2023-12-31 19:12      -4.0  December  2023
  17364  2023-12-31 19:13      -4.0  December  2023
  17365  2023-12-31 19:14      -4.0  December  2023
  17366  2023-12-31 19:15      -4.0  December  2023

  [17367 rows x 4 columns],
                 Datetime  WaitTime     Month  Year
  0      2024-12-01 09:45      -4.0  December  2024
  1      2024-12-01 09:46      -4.0  December  2024
  2      2024-12-01 09:47      -4.0  December  2024
  3      2024-12-01 09:48      -4.0  December  2024
  4      2024-12-01 09:49      -4.0  December  2024
  ...                 ...       ...       ...   ...
  17327  2024-12-31 19:11      -4.0  December  2024
  17328  2024-12-31 19:12      -4.0  December  2024
  17329  2024-12-31 19:13      -4.0  December  2024
  17330  2024-12-31 19:14      -4.0  December  2024
  17331  2024-12-31 19:15      -4.0  December  2024

  [17332 rows x 4 columns],
                Datetime  WaitTime    Month  Year
  0     2023-01-01 09:45      -4.0  January  2023
  1     2023-01-01 09:46      -4.0  January  2023
  2     2023-01-01 09:47      -4.0  January  2023
  3     2023-01-01 09:48      -4.0  January  2023
  4     2023-01-01 09:49      -4.0  January  2023
  ...                ...       ...      ...   ...
  6556  2023-01-15 19:11      -4.0  January  2023
  6557  2023-01-15 19:12      -4.0  January  2023
  6558  2023-01-15 19:13      -4.0  January  2023
  6559  2023-01-15 19:14      -4.0  January  2023
  6560  2023-01-15 19:15      -4.0  January  2023

  [6561 rows x 4 columns],
                Datetime  WaitTime    Month  Year
  0     2024-01-01 09:45      -4.0  January  2024
  1     2024-01-01 09:46      -4.0  January  2024
  2     2024-01-01 09:47      -4.0  January  2024
  3     2024-01-01 09:48      -4.0  January  2024
  4     2024-01-01 09:49      -4.0  January  2024
  ...                ...       ...      ...   ...
  4298  2024-01-07 19:11      -4.0  January  2024
  4299  2024-01-07 19:12      -4.0  January  2024
  4300  2024-01-07 19:13      -4.0  January  2024
  4301  2024-01-07 19:14      -4.0  January  2024
  4302  2024-01-07 19:15      -4.0  January  2024

  [4303 rows x 4 columns],
                Datetime  WaitTime    Month  Year
  0     2025-01-01 09:45      -4.0  January  2025
  1     2025-01-01 09:46      -4.0  January  2025
  2     2025-01-01 09:47      -4.0  January  2025
  3     2025-01-01 09:48      -4.0  January  2025
  4     2025-01-01 09:49      -4.0  January  2025
  ...                ...       ...      ...   ...
  7278  2025-01-12 19:41      -4.0  January  2025
  7279  2025-01-12 19:42      -4.0  January  2025
  7280  2025-01-12 19:43      -4.0  January  2025
  7281  2025-01-12 19:44      -4.0  January  2025
  7282  2025-01-12 19:45      -4.0  January  2025

  [7283 rows x 4 columns],
                 Datetime  WaitTime Month  Year
  0      2022-07-01 08:15      -4.0  July  2022
  1      2022-07-01 08:16      -4.0  July  2022
  2      2022-07-01 08:17      -4.0  July  2022
  3      2022-07-01 08:18      -4.0  July  2022
  4      2022-07-01 08:19      -4.0  July  2022
  ...                 ...       ...   ...   ...
  20931  2022-07-31 19:11      -4.0  July  2022
  20932  2022-07-31 19:12      -4.0  July  2022
  20933  2022-07-31 19:13      -4.0  July  2022
  20934  2022-07-31 19:14      -4.0  July  2022
  20935  2022-07-31 19:15      -4.0  July  2022

  [20936 rows x 4 columns],
                 Datetime  WaitTime Month  Year
  0      2023-07-01 08:15      -4.0  July  2023
  1      2023-07-01 08:16      -4.0  July  2023
  2      2023-07-01 08:17      -4.0  July  2023
  3      2023-07-01 08:18      -4.0  July  2023
  4      2023-07-01 08:19      -4.0  July  2023
  ...                 ...       ...   ...   ...
  21319  2023-07-31 20:11      -4.0  July  2023
  21320  2023-07-31 20:12      -4.0  July  2023
  21321  2023-07-31 20:13      -4.0  July  2023
  21322  2023-07-31 20:14      -4.0  July  2023
  21323  2023-07-31 20:15      -4.0  July  2023

  [21324 rows x 4 columns],
                 Datetime  WaitTime Month  Year
  0      2024-07-01 08:15      -4.0  July  2024
  1      2024-07-01 08:16      -4.0  July  2024
  2      2024-07-01 08:17      -4.0  July  2024
  3      2024-07-01 08:18      -4.0  July  2024
  4      2024-07-01 08:19      -4.0  July  2024
  ...                 ...       ...   ...   ...
  21052  2024-07-31 19:41      -4.0  July  2024
  21053  2024-07-31 19:42      -4.0  July  2024
  21054  2024-07-31 19:43      -4.0  July  2024
  21055  2024-07-31 19:44      -4.0  July  2024
  21056  2024-07-31 19:45      -4.0  July  2024

  [21057 rows x 4 columns],
                Datetime  WaitTime Month  Year
  0     2022-06-01 08:15      -4.0  June  2022
  1     2022-06-01 08:20      -4.0  June  2022
  2     2022-06-01 08:25      -4.0  June  2022
  3     2022-06-01 08:30      -4.0  June  2022
  4     2022-06-01 08:35      -4.0  June  2022
  ...                ...       ...   ...   ...
  7888  2022-06-30 18:41      -4.0  June  2022
  7889  2022-06-30 18:42      -4.0  June  2022
  7890  2022-06-30 18:43      -4.0  June  2022
  7891  2022-06-30 18:44      -4.0  June  2022
  7892  2022-06-30 18:45      -4.0  June  2022

  [7893 rows x 4 columns],
                 Datetime  WaitTime Month  Year
  0      2023-06-01 08:15      -4.0  June  2023
  1      2023-06-01 08:15      -4.0  June  2023
  2      2023-06-01 08:16      -4.0  June  2023
  3      2023-06-01 08:16      -4.0  June  2023
  4      2023-06-01 08:17      -4.0  June  2023
  ...                 ...       ...   ...   ...
  19709  2023-06-30 18:41      -4.0  June  2023
  19710  2023-06-30 18:42      -4.0  June  2023
  19711  2023-06-30 18:43      -4.0  June  2023
  19712  2023-06-30 18:44      -4.0  June  2023
  19713  2023-06-30 18:45      -4.0  June  2023

  [19714 rows x 4 columns],
                 Datetime  WaitTime Month  Year
  0      2024-06-01 08:15      -4.0  June  2024
  1      2024-06-01 08:16      -4.0  June  2024
  2      2024-06-01 08:17      -4.0  June  2024
  3      2024-06-01 08:18      -4.0  June  2024
  4      2024-06-01 08:19      -4.0  June  2024
  ...                 ...       ...   ...   ...
  19407  2024-06-30 18:41      -4.0  June  2024
  19408  2024-06-30 18:42      -4.0  June  2024
  19409  2024-06-30 18:43      -4.0  June  2024
  19410  2024-06-30 18:44      -4.0  June  2024
  19411  2024-06-30 18:45      -4.0  June  2024

  [19412 rows x 4 columns],
                Datetime  WaitTime  Month  Year
  0     2023-03-18 08:18      -4.0  March  2023
  1     2023-03-18 08:19      -4.0  March  2023
  2     2023-03-18 08:20      -4.0  March  2023
  3     2023-03-18 08:21      -4.0  March  2023
  4     2023-03-18 08:22      -4.0  March  2023
  ...                ...       ...    ...   ...
  5493  2023-03-31 18:11      -4.0  March  2023
  5494  2023-03-31 18:12      -4.0  March  2023
  5495  2023-03-31 18:13      -4.0  March  2023
  5496  2023-03-31 18:14      -4.0  March  2023
  5497  2023-03-31 18:15      -4.0  March  2023

  [5498 rows x 4 columns],
                Datetime  WaitTime  Month  Year
  0     2024-03-16 08:15      -4.0  March  2024
  1     2024-03-16 08:16      -4.0  March  2024
  2     2024-03-16 08:17      -4.0  March  2024
  3     2024-03-16 08:18      -4.0  March  2024
  4     2024-03-16 08:19      -4.0  March  2024
  ...                ...       ...    ...   ...
  6958  2024-03-31 19:41      -4.0  March  2024
  6959  2024-03-31 19:42      -4.0  March  2024
  6960  2024-03-31 19:43      -4.0  March  2024
  6961  2024-03-31 19:44      -4.0  March  2024
  6962  2024-03-31 19:45      -4.0  March  2024

  [6963 rows x 4 columns],
                Datetime  WaitTime  Month  Year
  0     2025-03-15 08:15      -4.0  March  2025
  1     2025-03-15 08:16      -4.0  March  2025
  2     2025-03-15 08:17      -4.0  March  2025
  3     2025-03-15 08:18      -4.0  March  2025
  4     2025-03-15 08:19      -4.0  March  2025
  ...                ...       ...    ...   ...
  7622  2025-03-31 18:11      -4.0  March  2025
  7623  2025-03-31 18:12      -4.0  March  2025
  7624  2025-03-31 18:13      -4.0  March  2025
  7625  2025-03-31 18:14      -4.0  March  2025
  7626  2025-03-31 18:15      -4.0  March  2025

  [7627 rows x 4 columns],
                Datetime  WaitTime Month  Year
  0     2022-05-01 08:15      -4.0   May  2022
  1     2022-05-01 08:20      -4.0   May  2022
  2     2022-05-01 08:25      -4.0   May  2022
  3     2022-05-01 08:30      -4.0   May  2022
  4     2022-05-01 08:35      -4.0   May  2022
  ...                ...       ...   ...   ...
  3971  2022-05-31 17:55      15.0   May  2022
  3972  2022-05-31 18:00      15.0   May  2022
  3973  2022-05-31 18:05      -4.0   May  2022
  3974  2022-05-31 18:10      -4.0   May  2022
  3975  2022-05-31 18:15      -4.0   May  2022

  [3976 rows x 4 columns],
                 Datetime  WaitTime Month  Year
  0      2023-05-01 08:15      -4.0   May  2023
  1      2023-05-01 08:16      -4.0   May  2023
  2      2023-05-01 08:17      -4.0   May  2023
  3      2023-05-01 08:18      -4.0   May  2023
  4      2023-05-01 08:19      -4.0   May  2023
  ...                 ...       ...   ...   ...
  20193  2023-05-31 19:11      -4.0   May  2023
  20194  2023-05-31 19:12      -4.0   May  2023
  20195  2023-05-31 19:13      -4.0   May  2023
  20196  2023-05-31 19:14      -4.0   May  2023
  20197  2023-05-31 19:15      -4.0   May  2023

  [20198 rows x 4 columns],
                 Datetime  WaitTime Month  Year
  0      2024-05-01 08:15      -4.0   May  2024
  1      2024-05-01 08:16      -4.0   May  2024
  2      2024-05-01 08:17      -4.0   May  2024
  3      2024-05-01 08:18      -4.0   May  2024
  4      2024-05-01 08:19      -4.0   May  2024
  ...                 ...       ...   ...   ...
  20464  2024-05-31 19:11      -4.0   May  2024
  20465  2024-05-31 19:12      -4.0   May  2024
  20466  2024-05-31 19:13      -4.0   May  2024
  20467  2024-05-31 19:14      -4.0   May  2024
  20468  2024-05-31 19:15      -4.0   May  2024

  [20469 rows x 4 columns],
                 Datetime  WaitTime     Month  Year
  0      2022-11-01 08:15      -4.0  November  2022
  1      2022-11-01 08:16      -4.0  November  2022
  2      2022-11-01 08:17      -4.0  November  2022
  3      2022-11-01 08:18      -4.0  November  2022
  4      2022-11-01 08:19      -4.0  November  2022
  ...                 ...       ...       ...   ...
  18139  2022-11-30 19:12      -4.0  November  2022
  18140  2022-11-30 19:13      -4.0  November  2022
  18141  2022-11-30 19:14      -4.0  November  2022
  18142  2022-11-30 19:15      -4.0  November  2022
  18143  2022-11-30 19:16      -4.0  November  2022

  [18144 rows x 4 columns],
                 Datetime  WaitTime     Month  Year
  0      2023-11-01 08:15      -4.0  November  2023
  1      2023-11-01 08:16      -4.0  November  2023
  2      2023-11-01 08:17      -4.0  November  2023
  3      2023-11-01 08:18      -4.0  November  2023
  4      2023-11-01 08:19      -4.0  November  2023
  ...                 ...       ...       ...   ...
  17929  2023-11-30 19:11      -4.0  November  2023
  17930  2023-11-30 19:12      -4.0  November  2023
  17931  2023-11-30 19:13      -4.0  November  2023
  17932  2023-11-30 19:14      -4.0  November  2023
  17933  2023-11-30 19:15      -4.0  November  2023

  [17934 rows x 4 columns],
                 Datetime  WaitTime     Month  Year
  0      2024-11-01 08:15      -4.0  November  2024
  1      2024-11-01 08:16      -4.0  November  2024
  2      2024-11-01 08:17      -4.0  November  2024
  3      2024-11-01 08:18      -4.0  November  2024
  4      2024-11-01 08:19      -4.0  November  2024
  ...                 ...       ...       ...   ...
  17748  2024-11-30 19:41      -4.0  November  2024
  17749  2024-11-30 19:42      -4.0  November  2024
  17750  2024-11-30 19:43      -4.0  November  2024
  17751  2024-11-30 19:44      -4.0  November  2024
  17752  2024-11-30 19:45      -4.0  November  2024

  [17753 rows x 4 columns],
                 Datetime  WaitTime    Month  Year
  0      2022-10-01 08:15      -4.0  October  2022
  1      2022-10-01 08:16      -4.0  October  2022
  2      2022-10-01 08:17      -4.0  October  2022
  3      2022-10-01 08:18      -4.0  October  2022
  4      2022-10-01 08:19      -4.0  October  2022
  ...                 ...       ...      ...   ...
  20682  2022-10-31 20:11      -4.0  October  2022
  20683  2022-10-31 20:12      -4.0  October  2022
  20684  2022-10-31 20:13      -4.0  October  2022
  20685  2022-10-31 20:14      -4.0  October  2022
  20686  2022-10-31 20:15      -4.0  October  2022

  [20687 rows x 4 columns],
                 Datetime  WaitTime    Month  Year
  0      2023-10-01 08:15      -4.0  October  2023
  1      2023-10-01 08:16      -4.0  October  2023
  2      2023-10-01 08:17      -4.0  October  2023
  3      2023-10-01 08:18      -4.0  October  2023
  4      2023-10-01 08:19      -4.0  October  2023
  ...                 ...       ...      ...   ...
  21280  2023-10-31 20:11      -4.0  October  2023
  21281  2023-10-31 20:12      -4.0  October  2023
  21282  2023-10-31 20:13      -4.0  October  2023
  21283  2023-10-31 20:14      -4.0  October  2023
  21284  2023-10-31 20:15      -4.0  October  2023

  [21285 rows x 4 columns],
                 Datetime  WaitTime    Month  Year
  0      2024-10-01 08:15      -4.0  October  2024
  1      2024-10-01 08:16      -4.0  October  2024
  2      2024-10-01 08:17      -4.0  October  2024
  3      2024-10-01 08:18      -4.0  October  2024
  4      2024-10-01 08:19      -4.0  October  2024
  ...                 ...       ...      ...   ...
  21236  2024-10-31 20:11      -4.0  October  2024
  21237  2024-10-31 20:12      -4.0  October  2024
  21238  2024-10-31 20:13      -4.0  October  2024
  21239  2024-10-31 20:14      -4.0  October  2024
  21240  2024-10-31 20:15      -4.0  October  2024

  [21241 rows x 4 columns],
                 Datetime  WaitTime      Month  Year
  0      2022-09-01 08:15      -4.0  September  2022
  1      2022-09-01 08:16      -4.0  September  2022
  2      2022-09-01 08:17      -4.0  September  2022
  3      2022-09-01 08:18      -4.0  September  2022
  4      2022-09-01 08:19      -4.0  September  2022
  ...                 ...       ...        ...   ...
  19033  2022-09-30 18:11      -4.0  September  2022
  19034  2022-09-30 18:12      -4.0  September  2022
  19035  2022-09-30 18:13      -4.0  September  2022
  19036  2022-09-30 18:14      -4.0  September  2022
  19037  2022-09-30 18:15      -4.0  September  2022

  [19038 rows x 4 columns],

In [50]:
# For each attraction, combine all months and save one Excel file
safe_attraction_name_list = []
save_path = 'EU_Park/europark_attraction_merged_dfs/'
for attraction, dfs in attraction_data.items():
    combined_df = pd.concat(dfs, ignore_index=True)

    # Drop rows where Datetime is missing
    combined_df = combined_df.dropna(subset=['Datetime'])

    # Split Datetime into Date and Time using string operations
    combined_df[['Date', 'Time']] = combined_df['Datetime'].astype(str).str.strip().str.split(' ', expand=True)
    safe_attraction_name = attraction.replace('-', ' ')  # avoid file path issues # Create the output file path
    fil_safe_attraction_name = safe_attraction_name.replace(' ','_')
    safe_attraction_name_list.append(fil_safe_attraction_name)
    # print(safe_attraction_name_list)
    output_file = os.path.join(save_path, f"{fil_safe_attraction_name} - All Queue Times.xlsx")
    combined_df.to_excel(output_file, index=False)
    print(f"✅ Saved merged file for: {attraction} -> {output_file}")

✅ Saved merged file for: ARTHUR -> EU_Park/europark_attraction_merged_dfs/ARTHUR - All Queue Times.xlsx

### Merge All attractions in one single excel file

In [51]:
# Folder where individual attraction Excel files are stored
folder_path = 'EU_Park/europark_attraction_merged_dfs/'

# Get list of merged attraction files
files = [f for f in os.listdir(folder_path) if f.endswith('All Queue Times.xlsx')]
print(files)

['ARTHUR - All Queue Times.xlsx']

In [52]:
merged_df = None

In [53]:
for file in files:
    # Full path to the Excel file
    file_path = os.path.join(folder_path, file)

    # Extract attraction name from filename
    attraction = file.replace(' - All Queue Times.xlsx', '').strip()

    # Read file
    df = pd.read_excel(file_path)
    df = df.drop(columns=['Datetime'], errors='ignore')
    df.rename(columns={'WaitTime': f'{attraction}_WaitTime'}, inplace=True)

    # Merge using pandas only
    if merged_df is None:
        merged_df = df
    else:
        merged_df = pd.merge(merged_df, df, on=['Date', 'Time', 'Month', 'Year'], how='outer')

merged_df = merged_df.sort_values(by=['Date', 'Time'])

output_file = os.path.join(folder_path, 'All_Attractions_Queue_Times_By_Date_Time.csv')
merged_df.to_csv(output_file, index=False)

print(f"✅ Final merged file saved to: {output_file}")

✅ Final merged file saved to: EU_Park/europark_attraction_merged_dfs/All_Attractions_Queue_Times_By_Date_Time.csv

In [55]:
merged_df_dt = pd.read_csv("EU_PARK\europark_attraction_merged_dfs\All_Attractions_Queue_Times_By_Date_Time.csv",index_col=False)

In [56]:
merged_df_dt.dropna()

        ARTHUR_WaitTime  Month  Year        Date   Time
0                  -4.0  April  2022  2022-04-01  08:15
1                  -4.0  April  2022  2022-04-01  08:20
2                  -4.0  April  2022  2022-04-01  08:25
3                  -4.0  April  2022  2022-04-01  08:30
4                  -4.0  April  2022  2022-04-01  08:35
...                 ...    ...   ...         ...    ...
548707             -4.0  April  2025  2025-04-30  19:11
548708             -4.0  April  2025  2025-04-30  19:12
548709             -4.0  April  2025  2025-04-30  19:13
548710             -4.0  April  2025  2025-04-30  19:14
548711             -4.0  April  2025  2025-04-30  19:15

[547261 rows x 5 columns]

In [57]:
merged_df_dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 548715 entries, 0 to 548714
Data columns (total 5 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ARTHUR_WaitTime  547261 non-null  float64
 1   Month            548715 non-null  object
 2   Year             548715 non-null  int64
 3   Date             548715 non-null  object
 4   Time             547261 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 20.9+ MB

In [58]:
merged_df_dt.isna().sum()

ARTHUR_WaitTime    1454
Month                 0
Year                  0
Date                  0
Time               1454
dtype: int64

In [59]:
merged_df_dt = merged_df_dt.dropna(subset=['Time'])

In [60]:
def report_missing_values(df):
    total_rows = len(df)
    missing_count = df.isna().sum()
    missing_percent = (missing_count / total_rows) * 100

    result = pd.DataFrame({
        'Missing Count': missing_count,
        'Missing %': missing_percent.round(2)
    })
    result = result.sort_values(by='Missing %', ascending=False)

    print(result)  # Only show columns with missing values

report_missing_values(merged_df_dt)

                 Missing Count  Missing %
ARTHUR_WaitTime              0        0.0
Month                        0        0.0
Year                         0        0.0
Date                         0        0.0
Time                         0        0.0

In [ ]:
#merged_df_dt.to_csv("EU_PARK/All_Attractions_Queue_Times_By_Date_Time.csv")

### Merge wind data files to one excel files contating wind data

In [61]:
def merge_fn_wind_prec_temp(df_path,df_type):
    """
    Parameters:
        df_path (str): Path to folder containing Excel files.
        data_type (str): Type of data ('wind', 'prec', 'temp', etc.)
        
    Returns:
        pd.DataFrame: Combined dataframe with Month and Year columns.
    """
    files = [f for f in os.listdir(df_path) if f.endswith('.xlsx')]
    data_final = []
    for file in files:
        file_path = os.path.join(df_path, file)

        # Extract month and year from filename: 'Wind speed in March 2024.xlsx'
        if df_type == 'wind':
            name_parts = file.replace('.xlsx', '').replace('Wind speed in ', '').strip().split()
        elif df_type == 'prec':
            name_parts = file.replace('.xlsx', '').replace('Precipitation probability in ', '').strip().split()
        elif df_type == 'temp':
            name_parts = file.replace('.xlsx', '').replace('Temperatures in ', '').strip().split()
        else:
            raise ValueError(f"Unknown data_type: {df_type}")
        month = name_parts[0]
        year = name_parts[1]

        # Read the file
        df = pd.read_excel(file_path)

        # Add Month and Year columns
        df['Month'] = month
        df['Year'] = int(year)
        data_final.append(df)

    # Combine all dataframes into one
    wind_df = pd.concat(data_final, ignore_index=True)
    wind_df[['Date', 'Time']] = wind_df['date_time'].astype(str).str.strip().str.split(' ', expand=True)
    wind_df = wind_df.drop(columns=['date_time'])

    return wind_df

In [62]:
wind_loc = 'EU_PARK/wind_speed/'
final_wind_df = merge_fn_wind_prec_temp(wind_loc,df_type='wind')

In [63]:
final_wind_df.shape

(464598, 5)

In [64]:
final_wind_df.head()

   wind_speed_in_kmh  Month  Year        Date   Time
0               25.0  April  2023  2023-04-01  08:15
1               25.0  April  2023  2023-04-01  08:16
2               25.0  April  2023  2023-04-01  08:17
3               25.0  April  2023  2023-04-01  08:18
4               25.0  April  2023  2023-04-01  08:19

In [65]:
report_missing_values(final_wind_df)

                   Missing Count  Missing %
wind_speed_in_kmh            836       0.18
Time                         836       0.18
Month                          0       0.00
Year                           0       0.00
Date                           0       0.00

### Merge Precipitation data files to one excel files contating Precipitation data

In [66]:
precipitation_loc = 'EU_PARK/precipitation/'
final_prec_df = merge_fn_wind_prec_temp(precipitation_loc,df_type='prec')

In [67]:
final_prec_df.shape

(464598, 5)

In [68]:
final_prec_df.head()

   precipitation_in_percent  Month  Year        Date   Time
0                      30.0  April  2023  2023-04-01  08:15
1                      30.0  April  2023  2023-04-01  08:16
2                      30.0  April  2023  2023-04-01  08:17
3                      30.0  April  2023  2023-04-01  08:18
4                      30.0  April  2023  2023-04-01  08:19

In [69]:
report_missing_values(final_prec_df)

                          Missing Count  Missing %
precipitation_in_percent            836       0.18
Time                                836       0.18
Month                                 0       0.00
Year                                  0       0.00
Date                                  0       0.00

### Merge Temperature data files to one excel files contating Temperature data

In [70]:
temperature_loc = 'EU_PARK/temperatures/'
final_temp_df = merge_fn_wind_prec_temp(temperature_loc,df_type='temp')

In [71]:
final_temp_df.shape

(464598, 5)

In [72]:
final_temp_df.head()

   temperature_in_celsius  Month  Year        Date   Time
0                     8.8  April  2023  2023-04-01  08:15
1                     8.8  April  2023  2023-04-01  08:16
2                     8.8  April  2023  2023-04-01  08:17
3                     8.8  April  2023  2023-04-01  08:18
4                     8.8  April  2023  2023-04-01  08:19

In [73]:
report_missing_values(final_temp_df)

                        Missing Count  Missing %
temperature_in_celsius            836       0.18
Time                              836       0.18
Month                               0       0.00
Year                                0       0.00
Date                                0       0.00

### Merge Final Excel of waiting times with wind data, Precipitaiton and Temperature data based on Month ,year,Date Time

In [74]:
# merged_df_dt : final df for all attraction waiting times
# final_temp_df: final df for all attraction Temperatures
# final_prec_df: final df for all attraction Precipitation
# final_wind_df: final df for all attraction Wind speed in kmh

In [75]:
merge_keys = ['Month', 'Year', 'Date', 'Time']

In [76]:
# Step-by-step outer merges using pandas only
merged = pd.merge(merged_df_dt, final_temp_df, on=['Month', 'Year', 'Date', 'Time'], how='outer')
merged = pd.merge(merged, final_prec_df, on=['Month', 'Year', 'Date', 'Time'], how='outer')
merged = pd.merge(merged, final_wind_df, on=['Month', 'Year', 'Date', 'Time'], how='outer')

# Optional: sort for clean structure
final_merged = merged.sort_values(by=['Year', 'Month', 'Date', 'Time']).reset_index(drop=True)

In [77]:
final_merged.shape

(549604, 8)

In [78]:
report_missing_values(final_merged)

                          Missing Count  Missing %
temperature_in_celsius            85828      15.62
precipitation_in_percent          85828      15.62
wind_speed_in_kmh                 85828      15.62
ARTHUR_WaitTime                    2336       0.43
Time                                836       0.15
Month                                 0       0.00
Year                                  0       0.00
Date                                  0       0.00

In [80]:
final_merged.columns

Index(['ARTHUR_WaitTime', 'Month', 'Year', 'Date', 'Time',
       'temperature_in_celsius', 'precipitation_in_percent',
       'wind_speed_in_kmh'],
      dtype='object')

In [88]:
gb = final_merged.groupby(['Month', 'Year','ARTHUR_WaitTime']).isna().value_counts()

AttributeError: 'DataFrameGroupBy' object has no attribute 'isna'

In [87]:
gb

Month      Year  ARTHUR_WaitTime  Date        Time   temperature_in_celsius  precipitation_in_percent  wind_speed_in_kmh
April      2023  -4.0             2023-04-01  08:15  8.8                     30.0                      25.0                 1
                                  2023-04-27  19:02  18.3                    10.0                      5.0                  1
                                  2023-04-30  08:23  11.8                    20.0                      15.0                 1
                                              08:22  11.8                    20.0                      15.0                 1
                                              08:21  11.8                    20.0                      15.0                 1
                                                                                                                           ..
September  2024   65.0            2024-09-21  11:10  17.0                    10.0                      5.0                  1
                                              11:09  17.0                    10.0                      5.0                  1
                                              11:07  17.0                    10.0                      5.0                  1
                                              11:06  16.8                    10.0                      5.0                  1
                                              11:20  17.2                    10.0                      5.0                  1
Length: 462261, dtype: int64

In [82]:
final_merged_v1.columns

Index(['ARTHUR_WaitTime', 'Month', 'Year', 'Date', 'Time',
       'Atlantica_SuperSplash_WaitTime', 'blue_fire_Megacoaster_WaitTime',
       'Eurosat___CanCan_Coaster_WaitTime', 'Euro_Mir_WaitTime',
       'Fjord_Rafting_WaitTime', 'Matterhorn_Blitz_WaitTime',
       'Pegasus___The_YoungStar_Coaster_WaitTime',
       'Pirates_in_Batavia_WaitTime', 'Silver_Star_WaitTime',
       'Swiss_Bob_Run_WaitTime', 'Voletarium_WaitTime',
       'Voltron_Nevera_WaitTime', 'Water_Rollercoaster_Poseidon_WaitTime',
       'WODAN___Timburcoaster_WaitTime', 'temperature_in_celsius',
       'precipitation_in_percent', 'wind_speed_in_kmh'],
      dtype='object')

In [44]:
final_merged_v1.to_csv("final_df.csv")

In [ ]:
final_merged_v1.groupby

In [45]:
df = pd.read_csv("Old_All_Attractions_Queue_Times_By_Date_Time.csv")

In [46]:
report_missing_values(df)

                                          Missing Count  Missing %
Voletarium_WaitTime                               68066      26.61
Voltron_Nevera_WaitTime                           63048      24.65
Fjord_Rafting_WaitTime                            60223      23.54
Atlantica_SuperSplash_WaitTime                    59899      23.42
WODAN___Timburcoaster_WaitTime                    33693      13.17
Water_Rollercoaster_Poseidon_WaitTime             27968      10.93
Pirates_in_Batavia_WaitTime                       26533      10.37
Eurosat___CanCan_Coaster_WaitTime                 26511      10.36
Euro_Mir_WaitTime                                 26454      10.34
Matterhorn_Blitz_WaitTime                         26420      10.33
blue_fire_Megacoaster_WaitTime                    26406      10.32
Pegasus___The_YoungStar_Coaster_WaitTime          26405      10.32
ARTHUR_WaitTime                                   26408      10.32
Silver_Star_WaitTime                               7094       2.77
Swiss_Bob_Run_WaitTime                             6727       2.63
Unnamed: 0                                            0       0.00
Time                                                  0       0.00
Date                                                  0       0.00
Year                                                  0       0.00
Month                                                 0       0.00
Unnamed: 0.1                                          0       0.00

### Add a column for holiday = 0 or 1 (true or false)

In [38]:
holiday_df = pd.read_excel('EU_PARK/holidays/holidays_europapark_apr2024_apr2025.xlsx')

In [39]:
holiday_df.columns

Index(['Date', 'holiday_event'], dtype='object')

In [40]:
holiday_df.shape

(86, 2)

In [181]:
holiday_df.head()

         Date        holiday_event
0  2024-03-29           Karfreitag
1  2024-03-31         Ostersonntag
2  2024-04-01          Ostermontag
3  2024-05-01       Tag der Arbeit
4  2024-05-09  Christi Himmelfahrt